spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/white_jotter?serverTimezone=UTC
    username: root
    password: 123456


  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
logging:
  level:
    root: warn
    com.donald: info